body {
  width: 425px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  width: 425px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
}

.forms {
  position: absolute;
  width: 80%;
  border: 4px solid #95e3c3;
  box-shadow: 2px 3px 1px #4f9b7b;
  margin-top: 50px;
  z-index: 1;
}

.refresh {
  position: absolute;
  margin-left: 42%;
  margin-top: 18%;
  box-shadow: 1px 1px 1px black; 
  background: url('../public/ref.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4dd9b;
  z-index: 2;
}

.sub-form {
  position: absolute;
  margin-top: 55px;
  width: 80%;
  height: 50px;
  border: 4px solid #894a95;
  box-shadow: 2px 3px 1px #4a0257;
  margin-left: 3px;
  background-color: #d1d1d1;
}

input.text {
  width: 99.5%;
  font-size: 32px;
}

.wrap_slide {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 35%;
}

.one {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #e4dd9b;
  box-shadow:  0px 2px 2px 0px gray;
  text-align: center;
  margin-left: 97%;
  margin-top: -10%;
}

.one > p {
  margin: 10%;
  color: white;
}

.three {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #e4dd9b;
  box-shadow:  0px 2px 2px 0px gray;
  border-radius: 50%;
  text-align: center;
  margin-left: 62%;
  margin-top: -10%;
}

.three > p {
  color: white;
  margin: 20%;
}

.block {
  width: 40px;
  height: 40px;
  margin-left: 20px;  
  background-color: #7bd5af;
  box-shadow: 2px 3px 2px #4f9b7b;
}

.block2 {
  background-color: #4f9b7b;
  width: 50px;
  height: 50px;
}

.staring {
  position: absolute;
  margin-top: 120px;
  margin-left: -80px;
  height: 40px;
  width: 40px;
}



.footer {
  display: flex;
  position: absolute;
  margin-top: 150%;
  width: 100%;
  justify-content: space-between;
}

.bf {
  width: 70px;
  height: 70px;
  background-color: #bbf8de;
}

.bf-1 {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px; 
  box-shadow: 2px 3px 1px #4f9b7b;
}

.bf-3 {
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  box-shadow: 2px 3px 1px #4f9b7b;
}

.bf-2 {
  width: 200px;
  border-radius: 50px;
  box-shadow: 2px 3px 1px #4f9b7b;
}

.img_message {
  margin-top: 30%;
  margin-left: 15%;
  width: 50%;
}

.wrap_place {
  width: 150px;
  height: 150px;
  background-color: limegreen;
  border: 2px solid darkgreen;
  border-radius: 75px;
  opacity: 0.5;
}

.mp-1 {
  width: 100px;
  height: 100px;
  background: mediumseagreen;
  border: 2px solid darkgreen;
  border-radius: 50px;
  margin: 22px;
}

.mp-2 {
  width: 50px;
  height: 50px;
  background: lightgreen;
  border: 2px solid darkgreen;
  border-radius: 25px;
  margin: 22px;
}

.myplace {
  width: 25px;
  height: 25px;
  background-color: darkgreen;
  opacity: 1;
  margin: 12px;
}


